/* Style général */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  color: #333;
  height: 100%;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #222;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.1s ease;
}

.logo:active {
  color: #007bff;
}

.logo p {
  font-size: 17px;
  margin: 0;
}

.nav-bar {
  display: flex;
}

.nav-bar ul {
  display: flex;
  gap: 10px;
}

.nav-bar a {
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

.nav-bar a:hover {
  background-color: #444;
}

.nav-bar .proj {
  background-color: #444;
}


/* Projets */
.container-projets {
  padding: 30px;
}

.projets {
  display: flex;
  gap: 20px;
  overflow: scroll;
  margin-bottom: 40px;
  text-align: center;
}

.projet1 {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #f4f4f4;
}

.close {
  position: relative;
}

.close::after {
  content: url('https://res.cloudinary.com/ddqfmqin7/image/upload/v1733782658/t%C3%A9l%C3%A9chargement-removebg-preview_1_qe35tl.png');
  position: absolute;
  background-color: rgba(0, 0, 0, 0.285);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 10px;
}

.proje-img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin: auto;
}


/* Footer */
footer {
  text-align: center;
  padding: 8px;
  background-color: #111;
  color: white;
}

@media (min-width: 768px)  {
  .proje-img {
    width: 100%;
  }
}

@media (max-width: 480px) {
  header {
    padding: 0 10px;
  }

  .logo {
    font-size: 20px;
  }

  .logo p {
    font-size: 14px;
  }

  .nav-bar a {
    font-size: 16px;
    padding: 8px 13px;
  }

  .container-projets {
    padding: 30px 15px;
  }

  .nav-bar ul {
    flex-direction: column;
    gap: 10px;
  }

}

@media (max-width: 345px) {
  .container-projets {
    padding: 30px 8px;
  }
}