/* Style général */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  color: #333;
  height: 100%;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #222;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.2s ease;
}

.logo:active {
  color: #007bff;
}

.logo p {
  font-size: 17px;
  margin: 0;
}

.nav-bar {
  display: flex;
}

.nav-bar ul {
  display: flex;
  gap: 10px;
}

.nav-bar a {
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

.nav-bar a:hover {
  background-color: #444;
}

/* First image section */
.first-img {
  margin: 10px;
  max-width: 15%;
  min-width: 90px;
  text-align: center;
  display: inline-block;
  transform: translateX(-100%);
  opacity: 0;
  z-index: 100;
  position: absolute;
  top: 1%;
}

.show {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.8s ease, opacity 0.3s ease;
}

.first-img img {
  width: 90%;
  border-radius: 50%;
}

.first-img a, .second-img a {
  display: inline-block;
  transition: color 0.2s ease;
  position: relative;
  line-height: 1.3;
}

.first-img a::after, .second-img a::after {
  content: '';
  position: absolute;
  left: -5px;
  right: 0;
  bottom: 0;
  height: 1.2px;
  background-color: #007bff;
  transition: left 0.2s ease-in-out;
}

.first-img a::before, .second-img a::before {
  content: '';
  position: absolute;
  left: -9px;
  bottom: -4px;
  border-width: 6px 6px 0 0;
  border-style: solid;
  border-color: #007bff transparent transparent transparent;
  transform: rotate(90deg);
  transition: left 0.2s ease-in-out;
}

.first-img a:hover::before,
.second-img a:hover::before {
  border-color: #0056b3 transparent transparent transparent;
  left: -14px;
}

.first-img a:hover::after, .second-img a:hover::after {
  background-color: #0056b3;
  left: -10px;
}

/* Section Profile */
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 30px;
}

.second-img {
  flex: 1;
  text-align: center;
  transform: translateX(100%);
  opacity: 0;
}

.show-second-img {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.8s ease;
}

.myself {
  flex: 2;
  width: 100%;
}

.name {
  display: flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(to right, #007bff, #ffffff 50%);
  height: 40px;
  padding: 5px;
  color: #fff;
}

.myself h2 {
  font-size: 36px;
}

.about-me {
  font-size: 26px;
  margin: 36px 0 13px;
}

.myself .text {
  color: #007bff;
  transition: opacity 1s ease-in-out;
  font-size: 34px;
}

.all-information {
  display: flex;
  gap: 23%;
  padding-left: 10px;
}

.description p {
  font-size: 16px;
  color: #333;
}

.all-information p {
  color: #505050;
}

.first-info div,
.second-info div {
  line-height: 1.5;
  margin-bottom: 30px;
}

.second-img img {
  width: 70%;
  height: auto;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
  padding: 5px;
  background-color: #111;
  color: white;
}

/* Responsiveness */
@media (min-width: 768px) {
  .first-img {
    display: none;
    position: relative;
  }

  .profile {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  main {
    position: relative;
    padding-top: 150px;
  }

  .profile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
  }

  .second-img {
    display: none;
  }

  .all-information {
    gap: 18%;
  }
}

@media (max-width: 480px) {
  header {
    padding: 0 10px;
  }

  .logo {
    font-size: 20px;
  }

  .logo p {
    font-size: 14px;
  }

  .nav-bar a {
    font-size: 16px;
    padding: 8px 13px;
  }

  .all-information {
    flex-direction: column;
    gap: 0;
  }

  .first-info div:last-child {
    margin-bottom: 0;
  }

  .profile {
    padding: 35px 10px;
  }

  .myself h2 {
    font-size: 29px;
  }

  .myself .text {
    font-size: 29px;
  }

  .nav-bar ul {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 345px) {
  .profile {
    padding: 30px 8px;
  }
}
